
body{
    text-align:center;
    color:red;
    background-image:url("photo-1489549132488-d00b7eee80f1.jpg")
    
}
.floatleft{
    float:left;
    margin-left:40px;
}
.floatleft a {
    margin-right: 10px;
}
.header {
    background-color: #F8F8F8;
    height: 50px;
    border-top: 5px solid red;
}
